<div class="notifications">
  <header>
    <h3>
      Your notifications
    </h3>
  </header>
  <% if @notifs.any? %>
    <ul>
      <% @notifs.each do |notif| %>
        <li>
          <%= link_to notif.subject.respond_to?(:post) ? notif.subject.post : notif.sender do %>
            <span class="photo">
              <%= image_tag(photo_path(notif.sender)) %>
            </span>
            <%= notif.content %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>