<div class="friends">
  <header>
    Friends
    <%= link_to 'See All', friendships_path(u: user.id) %>
  </header>
  <ul>
    <% user.friends.each do |friend| %>
      <li>
        <%= link_to friend do %>
          <span class="photo">
            <%= image_tag(photo_path(friend)) %>
          </span>
          <%= friend.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>