<div class="notifs">
  <header>
    Notifications
    <%= link_to 'See All', notifications_path %>
  </header>
  <ul>
    <%= render partial: 'notifications/notif',
               collection: user.notifications.unread, as: :notif %>
  </ul>
</div>
