<div class="notifs">
  <header>
    Notifications
    <%= link_to 'See All', notifications_path %>
  </header>
  <ul>
    <% user.notifications.each do |notif| %>
      <li>
        <%= link_to notif.subject.respond_to?(:post) ? notif.subject.post : notif.sender do %>
          <span class="photo"></span>
          <%= notif.content %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>