<div class="friendships">
  <header>
    <h3>
      <%= "#{@user.name}'s " if @user != current_user  %>
      Friends
    </h3>
  </header>
  <%= render 'friendship', users: @users %>
</div>
