<div class="friendships">
  <header>
    <h3>
      <% if @users.any? %>
        Respond to your <%= @users.size %> Friend Requests
      <% else %>
        You have no friend requests for now
      <% end %>
      <%= link_to 'View sent requests', friendships_path(s: 's'), class: 'link' %>
    </h3>
  </header>
  <%= render 'friendship', users: @users %>
</div>
