@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  &.thumbs-up {
    color: #1300a3;
  }

  &.heart {
    color: #e70040;
  }

  &.sign-language {
    color: #48009f;
  }

  &.laugh {
    color: #59a900;
  }

  &.surprise {
    color: #c0ae00;
  }

  &.angry {
    color: #ab0000;
  }
}

i {
  &.fa-thumbs-up {
    color: #1300a3;
  }

  &.fa-heart {
    color: #e70040;
  }

  &.fa-sign-language {
    color: #48009f;
  }

  &.fa-laugh {
    color: #59a900;
  }

  &.fa-surprise {
    color: #c0ae00;
  }

  &.fa-angry {
    color: #ab0000;
  }
}

body {
  margin: 0;
  display: flex;
  background: #f8f8ff;
  flex-direction: column;

  >header {
    flex: none;
    display: flex;
    padding: 5px 0;
    align-items: center;
    background: #1c066f;

    h1.title {
      width: 250px;
      font-size: 1.5em;
      font-weight: 400;
      margin: 0;
      text-align: center;
      font-family: Pacifico;

      a {
        color: #fff;
        display: block;
        padding: 0 2px;
        text-decoration: none;
      }
    }

    nav {
      flex: auto;
      margin-right: 10%;

      ul {
        display: flex;
        justify-content: center;

        li {
          color: #fff;
          font-weight: 600;

          i {
            font-size: 0.87em;
            margin-right: 3px;
          }

          &:hover {
            color: #1c066f;
            border-radius: 2px;
            background: #eeebff;
          }

          >a {
            height: 100%;
            display: flex;
            color: inherit;
            padding: 3px 10px;
            align-items: center;
            text-decoration: none;

            &.profile-link {
              .photo {
                width: 23px;
                height: 23px;
                margin-right: 5px;
                background: #eee;
                border-radius: 50%;

                img {
                  width: 100%;
                  height: 100%;
                  margin-right: 5px;
                  border-radius: 50%;
                }
              }
            }
          }

          &.account {
            color: #fff;
            display: flex;
            cursor: pointer;
            padding: 3px 10px;
            position: relative;
            align-items: center;
            border-bottom-color: transparent;

            >i {
              top: 2px;
              position: relative;
            }

            >ul {
              right: 0;
              top: 100%;
              z-index: 1;
              padding: 0;
              display: none;
              cursor: default;
              position: absolute;
              background: #fff;
              border-radius: 2px;
              border: 1px solid #ccc;

              &.show {
                display: flex;
                flex-direction: column;
              }

              a {
                color: #000;
                font-weight: 400;
                padding: 5px 15px;
                white-space: nowrap;
                text-decoration: none;

                i {
                  top: 1px;
                  margin-right: 5px;
                  position: relative;
                }

                &:hover {
                  background: #eeebff;
                }
              }
            }

            &:hover {
              background: none;
            }
          }

          &.f-menu {
            position: relative;

            >a:last-of-type {
              display: none;
              padding: 5px 0;
              min-width: 100%;
              font-weight: 400;
              position: absolute;
              text-align: center;
              white-space: nowrap;
              background: #f8f8ff;

              &:hover {
                text-decoration: underline;
              }
            }

            &:hover {
              border-radius: 2px 2px 0 0;

              >a:last-of-type {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  >main {
    flex: auto;
    padding: 10px;
    overflow: auto;

    >.post-wrapper {
      margin: 10px auto;

      .comment-list {
        display: block;
      }
    }
  }

  #modal {
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    position: fixed;
    padding-top: 55px;
    align-items: start;
    justify-content: center;
    background: rgba(0, 0, 0, .6);

    a {
      color: inherit;
      text-decoration: none;
    }

    &.show {
      width: 100%;
      height: 100%;
      display: flex;
    }

    >* {
      margin-left: -17px;
    }

    .post-form {
      width: 37.5%;
    }
  }

  #preload {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    margin: auto;
    position: fixed;
    border-radius: 50%;
  }
}

.action {
  top: 0;
  right: 0;
  z-index: 1;
  position: absolute;

  >i {
    padding: 5px;
    color: #444;
    display: block;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background: #eee;
    }
  }

  &:hover div {
    display: flex;
  }

  div {
    top: 100%;
    left: -10px;
    display: none;
    position: absolute;
    background: #fff;
    white-space: nowrap;
    flex-direction: column;
    border: 1px solid #ddd;

    >i {
      color: #444;
    }

    a {
      color: inherit;
      text-align: left;
      padding: 5px 10px;
      text-decoration: none;

      i {
        font-size: 0.9em;
        margin-right: 5px;
      }

      &:hover {
        background: #f7f7f7;
      }
    }
  }
}