// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button.comment {
  width: 125px;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  background: inherit;

  &:hover {
    background: #f5f5f5;
  }
}

.comment-form {
  display: flex;
  position: relative;
  align-items: start;

  .photo {
    flex: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background: #f2f2f2;
    border: 1px solid #aaa;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .comment-box {
    flex: auto;
    position: relative;

    textarea,
    .shadow {
      width: 100%;
      font-size: 1em;
      min-height: 30px;
      padding: 5px 10px;
      border-radius: 25px;
      font-family: inherit;
      background: #f7f7f7;
      border: 1px solid #aaa;
    }

    textarea {
      resize: none;
      overflow: hidden;
    }

    .shadow {
      z-index: -1000;
      position: absolute;
      visibility: hidden;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  input[type=submit] {
    position: absolute;
    visibility: hidden;
  }
}

.comment-list {
  // display: none;

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: 10px;

    .hide-comments {
      cursor: pointer;
      color: #1300a3;

      &:hover {
        text-decoration: underline;
      }
    }

    .photo {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background: #eee;
      border-radius: 50%;
    }

    .content {
      flex: auto;
      padding: 5px 10px;
      position: relative;
      border-radius: 20px;
      background: #f4f6ff;

      a {
        float: left;
        color: #1300a3;
        font-weight: 600;
        padding-right: 5px;
        display: inline-block;
        text-decoration: none;
      }

      pre {
        margin: 0;
        font-family: inherit;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      .likes-loader {
        top: 80%;
        right: 0;
        padding: 0 5px 2px;
        position: absolute;
        background: #fff;
        border-radius: 15px;
        border: 1px solid #ddd;

        >ul {
          display: inline-block;

          li {
            margin-bottom: 0;
          }
        }

        .count {
          color: #444;
          font-weight: 400;
        }
      }
    }

    .action {
      position: relative;

      &:hover {
        z-index: 2;
      }

      div {
        left: 0;

        a {
          padding: 3px 5px;
        }
      }
    }

    .reactions {
      width: 100%;
      display: flex;
      line-height: 1;
      align-items: center;
      padding: 2px 0 0 55px;

      .like-form {
        padding: 0;
        width: auto;

        &:hover {
          background: none;
          text-decoration: underline;
        }

        .kinds {
          ul {
            margin: 0;
          }

          .kind {
            display: none;
          }
        }

        .choice {
          a {
            padding: 0;
          }

          i {
            display: none;
          }
        }
      }

      .reply {
        margin: 0;
        border: none;
        padding: 0 5px;
        font-size: 1em;
        line-height: 1;
        cursor: pointer;
        color: #1300a3;
        background: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .replies {
      flex: auto;
      margin: 5px 0;
      max-width: 95%;
      margin-left: 5%;

      .comment-list,
      .comment-form {
        &.hide {
          display: none;
        }
      }

      .hide-comments {
        font-style: italic;
      }

      .show-replies {
        color: #1300a3;
        margin: 0 0 5px 5%;
        font-style: italic;
        display: inline-block;
      }
    }
  }
}