// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise {
  margin: 2% auto;
  padding: 15px 2%;
  max-width: 400px;
  border-radius: 5px;
  background: #fefeff;
  border: 1px solid #1c066f;

  &.signup,
  &.settings {
    form {
      .field {
        .gender {
          display: flex;
          font-weight: 300;

          .option {
            display: flex;

            &:first-child {
              margin-right: 20px;
            }

            input[type=radio] {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  &.signup {
    max-width: 450px;
  }

  a {
    color: #1c066f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    color: #222;
    margin: 0 0 30px;
    font-size: 1.6em;
    font-weight: 300;
    text-align: center;
  }

  form {
    .field {
      margin-bottom: 10px;

      label {
        display: block;
        font-size: 1.1em;
        font-weight: 300;
      }

      &:not(.checkbox) {
        label {
          margin-bottom: 2px;
        }
      }

      &.checkbox {
        display: flex;

        input {
          margin-right: 5px;
          border-radius: 50%;
        }
      }

      select,
      input:not([type=checkbox]):not([type=radio]) {
        width: 100%;
        padding: 5px;
        display: block;
        border-radius: 2px;
        border: 1px solid #555;
      }

      .password {
        display: flex;
        align-items: end;
        margin-bottom: 2px;

        label {
          flex: auto;
          margin-bottom: 0;
        }
      }

      select,
      input[type=date] {
        font-family: inherit;
      }
    }

    .actions {
      display: flex;
      justify-content: center;

      input {
        flex: auto;
        border: none;
        padding: 5px;
        color: #fff;
        max-width: 50%;
        cursor: pointer;
        border-radius: 2px;
        background: #775500;

        &:hover {
          background: #664900;
        }
      }
    }
  }

  .separator {
    width: 40%;
    color: #444;
    display: flex;
    margin: 15px auto;
    align-items: center;

    .line {
      flex: auto;
      border-top: 1px solid #555;
    }

    .text {
      top: -0.2em;
      padding: 0 5px;
      line-height: 1;
      position: relative;
      vertical-align: text-top;
    }
  }

  .omniauth {
    a {
      width: 50%;
      margin: auto;
      padding: 5px;
      color: #fff;
      display: block;
      text-align: center;
      border-radius: 2px;
      background: #0c339f;

      &:hover {
        background: #0b2e8d;
        text-decoration: none;
      }
    }
  }

  .login,
  .logout {
    margin-top: 20px;
    text-align: center;
  }

  &.settings {
    max-width: 550px;
    padding: 15px 2%;

    h3 {
      text-align: center;
      margin-bottom: 5px;
    }

    .delete {
      display: flex;
      justify-content: center;

      form {
        input[type=submit] {
          border: none;
          cursor: pointer;
          color: #8a0303;
          background: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  #error_explanation {
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f00;

    h2 {
      padding: 5px;
      margin: 0 0 5px;
      font-size: initial;
    }

    ul {
      padding: 5px;

      li {
        padding: 5px;
        background: #fdd;
        border-radius: 5px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
}