// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  flex: auto;

  >ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
  }
}